shelfstrat.[eo]*
shelfstrat*.sh
sim*
*.nc
*.npy
*.dat
*.pyc
*~
*.pdf
*.png
*.ipynb
.ipynb_checkpoints/
*.slurm
*.mp4
tests/
project/Build
project/coawst?
runs/
copy/
bads/
ocean_shelfstrat.*
grd.pickle
Shelf_Out*
nohup*
.DS_Store
